<div style="height:15vh"></div>
<div class="container" style="height: 70vh">
<legend><center><h2><b>Add a New Drug</b></h2></center></legend><br>
<div class="row">
<div class="col-md-6">
   <%= image_tag("pic2.jpg", :alt => "rss feed", class:"img_fluid") %> 
</div>

<div class="col-md-6">
  <%= form_with url:'/drugs', method: :post, authenticity_token: false do |form| %> 

  <div class="form-group mb-4">
    <label class="mb-2" for="name">Drug Name</label>
    <input name="name" type="text" class="form-control" placeholder="Drug name">
  </div>

  <div class="form-group mb-4">
    <label class="mb-2" for="current_stock">What is the current stock </label>
    <input name="current_stock" type="text" class="form-control" placeholder="Drug units">
  </div>

  <div class="form-group mb-4">
  <label class="mb-2" for="current_stock">What is the drug unit</label>
  <%=select_tag 'drugunit_id', options_for_select(@drug_units.collect{ |u| [u.name, u.id] }) %>
  </div>  
  
  <button type="submit" class="btn btn-outline-primary">Submit</button>
<%end%>
</div>

</div>
  
</div>




