<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div style="height: 4vh"></div>
<div class="container mt-5 mb-4">
<div class="row mt-5" >
<div class="col-md-6">
<div class="jumbotron mt-5">
  <h1 class="display-4 mt-5">Karibu, <span class="text-info" > Oljabet </span></h1>
  <hr class="my-4">
  <p class="lead">
  Revolutionize your pharmacy with our web system. Effortlessly manage inventory, process prescriptions, and boost efficiency with just a few clicks. Our platform, designed for pharmacies, streamlines operations for improved productivity and customer satisfaction. Upgrade now and take your pharmacy to new heights!
  </p>
  
  <p>
  <%# Transform the way your pharmacy operates with our cutting-edge web system. Streamline your inventory management, simplify prescription processing, and improve overall efficiency with just a few clicks. Our user-friendly platform is designed to meet the unique needs of pharmacy departments and stores, making it the perfect solution for your business. Say goodbye to manual processes and hello to improved productivity and customer satisfaction. Join us now and take your pharmacy to the next level! %>
  </p>
  <p class="lead">
    <a class="btn btn-outline-info btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
</div>
<div class="col-md-6">
<img class="img-fluid" src="https://img.freepik.com/premium-vector/home-delivery-medicines-medical-supplies-box-vector-illustration-cartoon-style_313437-472.jpg?w=2000" alt="firstimg">
</div>
    
</div>

<%# <div class="alert alert-info" role="alert">
 Drug Inventory
</div>
<div class="alert alert-info" role="alert">
 Karibu tena
</div> %>
    
</div>
   
</body>
</html>