<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div style="height: 4vh"></div>
<div class="container mt-5 mb-4">
<div class="row mt-5" >
<div class="col-md-6">
<div class="jumbotron mt-5">
  <h1 class="display-4 mt-5">Karibu, <span class="text-info" > Oljabet </span></h1>
  <p class="lead">A comprehensive stock management system for Oljabet medical supplies.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-outline-info btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
</div>
<div class="col-md-6">
<img class="img-fluid" src="https://img.freepik.com/premium-vector/home-delivery-medicines-medical-supplies-box-vector-illustration-cartoon-style_313437-472.jpg?w=2000" alt="firstimg">
</div>
    
</div>

    
</div>
   
</body>
</html>